.course-title {
    text-align: center;
    margin-bottom: 40px;
    color: red;
    font-size: 48px;
}

.course-card {
    border: 3px dashed blue;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 30px;
    background: #fff3cd;
    transition: all 0.3s ease;
}

.course-card:hover {
    transform: rotate(2deg) scale(1.08);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.price {
    display: block;
    margin-top: 10px;
    font-size: 22px;
    color: green;
}
